on:
  pull_request:
  push:
    branches:
      - main
      - master

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v3
      with:
        go-version: "1.24"
        check-latest: true
    - name: Install gosec
      run: go install github.com/securego/gosec/v2/cmd/gosec@v2.19.0
    - name: Install static check
      run: go install honnef.co/go/tools/cmd/staticcheck@latest
    - uses: actions/setup-python@v4
      with:
        python-version: 3.x
    - uses: pre-commit/action@v3.0.0
    - uses: pre-commit-ci/lite-action@v1.0.1
      if: always()
